@model IEnumerable<SistemaViajeros.Controllers.PuntosDeControl>

@{
    ViewBag.Title = "Puntos de Control";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>También conocido como aeropuertos registrados</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreControl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreControl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuarios.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PuntoControlID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PuntoControlID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PuntoControlID })
        </td>
    </tr>
}

</table>
